.App{
  width: 100%;
}

.postapp {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .home__container {
    flex-direction: column-reverse;
  }
}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}